.transactions {
  width: 52.5rem;
  position: relative;

  &__list {
    max-height: 33rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      max-width: 1.6rem;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-gray-2);
      border-radius: 10rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-purple-6);
      border-radius: 10rem;
    }
  }
}

.filters {
  h5 {
    font-size: 1.6rem;
    color: var(--color-gray-10);
  }

  select {
    margin-right: 1.5rem;
    margin-top: 1rem;
  }
}
