.transfer-form {
  max-width: 45rem;
  padding: 0 1rem;

  &__balance {
    border: 1px solid var(--color-gray-3);
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    color: var(--color-gray-8);
    border-radius: 2px;
  }
}
